@media (max-width: 960px) {
	.wrapper {
		width: 100%;
		max-width: 768px;
	}
	header, main, footer {
		width: 100%;	
	}	
	main {
		display: block;
	}
	h1, p, h2 {
		width: 90%;		
	}
	
	.city {
		width: 100%;		
		display: block;
		margin: auto;
	}
	img {
		width: 100%;
		max-width: 350px;
	}
}


@media (max-width: 768px) {
	.wrapper {
		width: 100%;
		max-width: 667px;
	}	

	img {
		width: 100%;
		max-width: 250px;
	}
}

@media (max-width: 667px) {
	.wrapper {
		width: 100%;
		max-width: 568px;
	}	
}

@media (max-width: 568px) {
	.wrapper {
		width: 100%;
		max-width: 468px;
	}	
	img {
		width: 100%;
		max-width: 200px;
	}
}

@media (max-width: 400px) {
	.wrapper {
		width: 100%;
		max-width: 360px;
	}	
	img {
		width: 100%;
		max-width: 155px;
	}
}

@media (max-width: 360px) {
	.wrapper {
		width: 100%;
		max-width: 320px;
	}	
	img {
		width: 100%;
		max-width: 135px;
	}
}
@media (max-width: 320px) {
	.wrapper {
		width: 100%;
		max-width: 310px;
	}	
	
}

